<!-- Products Section -->
    <section id="products" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Innovative Products</h2>
                    <h3 class="section-subheading">Rockport Software Product and Service Solutions</h3>
                </div>
            </div>

            <div class="row text-center">

                <div class="col-md-6">
                    <a href="/acirdm/index.html" rel="noopener">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
					</span>
                    </a>
                    <h4 class="service-heading">Rockport Baggage Message Broker</h4>
                    <p class="text-left">Rockport Software has developed an information broker solution supporting modern Baggage Messaging standards.</p>
                    <p class="text-left">Our industry leading solution message broker supports the new IATA Recommended Practice 1755 XML (and RP 1745) messaging standards. </p>
                    <p class="text-left">Built using a micro-service architecture, the Rockport solution can be deployed as a cloud service (or on-premise) and can be flexibly scaled to meet the requirements for any size of messaging volume.</p>
					<p class="text-left">Our innovative design provides a modular solution architecture, supporting flexible deployments based on required functionality. Optional modules include message transformation (BIM to XML, or XML to BIM), message masking, message archival and track and trace capabilities. </p>
                    <p class="text-left">The Rockport messaging broker platform has been chosen as the industry testbed broker for all IATA/ACI testing with Airports and Airline members. 
					                     More information about the IATA/ACI service can be found on the main <a href="https://iatabroker.rockportsoft.com" target="_blank" rel="noopener">Baggage Testbed</a> website.</p>
                    <p class="text-left">More information about this product can be found on our <a href="/modernmessaging/index.html" rel="noopener">Baggage Messaging page</a></p>
                    <p class="text-left">Please get in touch to find out more information.</p>
                    <a href="mailto:info@rockportsoft.com" target="_blank" rel="noopener" class="btn btn-contact" role="button">Email Rockport</a>
                </div>



                <div class="col-md-6">
                    <a href="/acirdm/index.html" rel="noopener">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
					</span>
                    </a>
                    <h4 class="service-heading">Rockport Aviation Reference Data Service</h4>
                    <p class="text-left">Rockport Software hosts and maintains an Aviation Industry Reference Data Repository.</p>
                    <p class="text-left">Reference data is that data that describes key aviation concepts like flight, airport, airline, asset and passengers.
                                         Examples include airport codes, airline codes, aircraft types, flight codes, and many others. </p>

                    <p class="text-left">Rockport already offers a comprehensive of set high quality reference data which, uniquely, is fully compliant with ACI's ACRIS Semantic Model.
                    More data sets are being added all the time, so watch out for news about exciting additions to our RDM service.</p>

                    <p class="text-left">As well as providing publicly-available data sets, which we provide to our subscribers free of charge, we can offer additional, premium services to our aviation customers. 
                    These include bespoke services to manage an airport's own reference data, either on-premise or on our cloud platform. In our role as managers of the ACRIS Semantic model, we are uniquely placed to assure the compliance of all your reference data with the model.</p>

                    <p class="text-left">More information about this service can be found on our <a href="/acirdm/index.html" rel="noopener">Reference Data page</a></p>
                    <p class="text-left">For more information, or to request access to the Reference Data Repository and Data Service, please get in touch.</p>
                    <a href="mailto:info@rockportsoft.com" target="_blank" rel="noopener" class="btn btn-contact" role="button">Email Rockport</a>
					</div>

			</div>



        </div>
    </section>
