<!-- Overview Section -->
    <section id="overview" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Intelligent Enterprise</h2>
                    <h3 class="section-subheading">Rockport Software is dedicated to enabling the Intelligent Enterprise.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-university fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consultancy</h4>
                    <p>Core to Rockport Software's business is the provision of high quality Consultancy Services. We have extensive expertise in Information Modelling, Reference Data Management, Software Development and Business Intelligence / Data Analytics.</p>
                    <p>Our customers include international organisations in the aviation, investment banking and manufacturing industries.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Solutions</h4>
                    <p>Rockport Software can provide the right combination of products and services to solve your organisation's concerns. Our software solutions can add substantial value by improving business performance, in terms of enhanced customer experience, improved revenue opportunities and/or reduced costs.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Services</h4>
                    <p> With many years' experience of working with international clients, we can provide support services to ensure that you get continued value from your RDM, BI and Data Analytics investments.</p>
                </div>
            </div>
        </div>
    </section>
