<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading">How we can help enable the Intelligent Enterprise. </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                              <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
                             </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Information Modelling</h4>
                                    <h4 class="subheading">Towards Enterprise Knowledge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Rockport has many years's experience with information modelling projects, including contributing to the Airports Council International (ACI) Semantic Model and IATA Airline Industry Data Model (AIDM)</p>
                                    <p>We work closely with the ACI in major international standards projects such as Semantic Model, Seamless Travel and Asset Management. </p>
									<p>Rockport hosts the ACRIS Semantic Model on our cloud platform supporting the community participants. </p>
                                    <p>Rockport offers consulting services, including to Airports, Airlines and other Aviation companies working with these industry models.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Innovative Software and Software Product Development</h4>
                                    <h4 class="subheading">The technology to deliver real intelligence</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Rockport has developed several innovative software products. The Rockport Information Broker is an industry leading messaging broker supporting the latest international standard for baggage messaging. </p>
                                    <p>Our Reference Data Repository is, uniquely, built directly from and integrated with the ACI ACRIS Semantic Model. 
                                    <p>Rockport offers these software products and associated supports, maintenance and continued development services .</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Business Intelligence and Data Analytics</h4>
                                    <h4 class="subheading">Business Intelligence in practice</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Rockport Software has many years' experience and great depth of expertise in Business Intelligence, Data Analytics, Big Data and Data Warehousing, having designed, 
									developed and implemented BI and DW systems and applications for many clients worldwide.</p>
                                    <p>We work with industry leading technologies, including those from Oracle, Microsoft and others, on premise or in cloud platforms to enable the digital enterprise.</p>
                                    <p>Rockport offers consulting services covering all areas of the project lifecycle, including requirements analysis, project management, design, development and testing.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                  <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enterprise Performance Management</h4>
                                    <h4 class="subheading">Improving performance throughout the enterprise</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Enterprise performance management, including Key Performance Indicators, Balanced Scorecard, process modelling and activity costing.</p>
									<p>We have developed and implemented EPM applications for many clients worldwide leading to demonstrable financial benefits as a direct result of the analytics.</p>
                                    <p>Rockport offers consulting services to assist your enterprise to manage and optimise performance.</p>
                                </div>
                            </div>
                        </li>
                    </ul>


                </div>
            <!-- End Row -->
            </div>
        <!-- End container -->
        </div>
    </section>
	
	
