<!-- Partners -->
    <section id="alliances">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Alliances</h2>
                    <h3 class="section-subheading">Rockport Software has partnered with world class industry and technology experts to deliver effective solutions for our customers.</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <a href="https://www.aci.aero" target="_blank" rel="noopener">
                        <img src="img/logos/wbplogo1_s.jpg" class="img-responsive img-centered" width="100" alt="Airports Council International (ACI)">
                    </a>
                </div>
                <div class="col-md-3 col-sm-3">
                    <a href="https://www.airinno.de/" target="_blank" rel="noopener">
                        <img src="img/logos/airinno_s.png" class="img-responsive img-centered" alt="Air Inno">
                    </a>
                </div>
                <div class="col-md-3 col-sm-3">
                    <a href="https://www.barich.net/" target="_blank" rel="noopener">
                        <img src="img/logos/barich_s.png" class="img-responsive img-centered" alt="Barich Inc">
                    </a>
                </div>
                <div class="col-md-3 col-sm-3">
                    <a href="https://www.vlogix.co.uk" target="_blank" rel="noopener">
                        <img src="img/logos/vlogix-logo-368_s.png" class="img-responsive img-centered" alt="vLOGIX">
                    </a>
                </div>
            </div>
			
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading"></h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="https://sparxsystems.com/" target="_blank" rel="noopener">
                        <img src="img/logos/sparx-reseller-partner-sm1_s.jpg" class="img-responsive img-centered" alt="SparxSystems">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="https://www.microsoft.com/" target="_blank" rel="noopener">
                        <img src="img/logos/microsoft_s.png" class="img-responsive img-centered" alt="Microsoft">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a href="https://www.oracle.com/" target="_blank" rel="noopener">
                        <img src="img/logos/O-Gold-Partner-clr_s.png" class="img-responsive img-centered" alt="Oracle">
                    </a>
                </div>
            </div>
			
            <div class="row">
                <div class="col-lg-12 text-center">
                <br>
                <p style="font-size: 12px;">All product and company names and logos are used for identification purposes only, and may be trademarks of their respective owners.</p>
                </div>
            </div>
        </div>
    </section>