    <!-- Header -->
    <header>

<!--        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">All About Information</div>
                <a href="#overview" class="page-scroll btn btn-xl">About Us</a>
            </div>
        </div>
-->		

		<div id="carouselExampleIndicators" class="carousel slide"
			data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0"
					class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<!-- Slide One - Set the background image for this slide in the line below -->
					<div class="carousel-item active" role="option"
					style="background-image: url('/img/carousel/aircraft-engine.jpeg')">
					<div class="carousel-caption d-none d-md-block">
						<h3>All About Information</h3>
						<p><a href="#overview" class="page-scroll btn btn-xl">About Us</a></p>
					</div>
					</div>
				<!-- Slide Two - Set the background image for this slide in the line below -->
					<div class="carousel-item" role="option"
					style="background-image: url('/img/carousel/airport.jpeg')">
					<div class="carousel-caption d-none d-md-block">
						<h3>Enabling the Intelligent Enterprise</h3>
						<p><a href="#overview" class="page-scroll btn btn-xl">About Us</a></p>
					</div>
					</div>
				<!-- Slide Three - Set the background image for this slide in the line below -->
					<div class="carousel-item" role="option"
					style="background-image: url('/img/carousel/clouds.jpeg')">
					<div class="carousel-caption d-none d-md-block">
						<h3>Information Modelling</h3>
						<p><a href="#overview" class="page-scroll btn btn-xl">About Us</a></p>
					</div>
					</div>
				<!-- Slide Four - Set the background image for this slide in the line below -->
					<div class="carousel-item" role="option"
					style="background-image: url('/img/carousel/airport-594208_1920.jpg')">
					<div class="carousel-caption d-none d-md-block">
						<h3>Innovative Software Development</h3>
						<p><a href="#overview" class="page-scroll btn btn-xl">About Us</a></p>
					</div>
					</div>


			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators"
				role="button" data-slide="prev"> <span
				class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="sr-only">Previous</span>
			</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
				role="button" data-slide="next"> <span
				class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="sr-only">Next</span>
			</a>
		</div>
		
	
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

