    <!-- Header -->
    <header>

		<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="2500" id="bs-carousel">
		 <!-- Overlay -->
	     <!-- <div class="overlay">  -->

			  <!-- Indicator Icons -->
			  <ol class="carousel-indicators">
				<li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#bs-carousel" data-slide-to="1"></li>
				<li data-target="#bs-carousel" data-slide-to="2"></li>
				<li data-target="#bs-carousel" data-slide-to="3"></li>
			  </ol>
			  
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">

				<div class="item slides active">
				  <div class="slide-1"></div>
				  <div class="hero">
					<hgroup>
						<h1>All about information</h1>    
						<h3>Enabling the intelligent enterprise</h3>
					</hgroup>
					<a href="#overview" class="page-scroll btn btn-hero btn-lg" role="button">Read More</a>
				  </div>
				</div>

				<div class="item slides">
				  <div class="slide-2"></div>
				  <div class="hero">        
					<hgroup>
						<h1>Digital Twins</h1>        
						<h3>Enabling the intelligent enterprise</h3>
					</hgroup>       
					<a href="#overview" class="page-scroll btn btn-hero btn-lg" role="button">Read More</a>
				  </div>
				</div>

				<div class="item slides">
				  <div class="slide-3"></div>
				  <div class="hero">        
					<hgroup>
						<h1>Information Modelling</h1>        
						<h3>Enabling the intelligent enterprise</h3>
					</hgroup>
					<a href="#overview" class="page-scroll btn btn-hero btn-lg" role="button">Read More</a>
				  </div>
				</div>
				
				<div class="item slides">
				  <div class="slide-4"></div>
				  <div class="hero">        
					<hgroup>
						<h1>Innovative Software Development</h1>        
						<h3>Enabling the intelligent enterprise</h3>
					</hgroup>
					<a href="#overview" class="page-scroll btn btn-hero btn-lg" role="button">Read More</a>
				  </div>
				</div>

			  </div> 

			<!-- Left - Right - Controls -->
				<a class="left carousel-control" href="#bs-carousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#bs-carousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			
			<!-- </div> -->
			
		<!-- Carousel -->
		</div>
	
    </header>

