
/* Add small button for privacy policy*/
.btn-privacy {
    border-color: #{{ site.data.template.color.primary }};
    /* text-transform: uppercase; */
    font-family: {{ site.data.template.font.primary }};
    font-weight: 50;
    color: #000;
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline:none;
}

/* Add small button for privacy policy*/
.privacyModal {
    text-align=left;
}



					